.menu-item {
    display: inline-block;
    padding: 5px 40px;
    margin: 0 5px;
    transition: all 1s;
}

.menu-item:hover {
    color: rgb(156, 156, 156);
}

.menu-item.active {
    color: white;
    background-color: rgb(156, 156, 156);
}

.title {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px
}

.line {
    border-bottom: 2px solid black;
    width: auto; 
    margin: 10px 15px;
    height: 2px;    
    padding-top: 36px;
}

.head {
    position: absolute;
    left: 50%;
    margin: 0 -170px;
}

.img-align {
    display: block;
    margin: 0 auto;
}
